@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFFF3;
}

/* CONTAINER */
section#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 100vh;
}

h1 {
    color: #5c4321fe;
}

input#book {
    border-radius: 10px;
    border-color: #c2a78371;
    padding: 6px;
    box-shadow: 1px 1px 10px #c2a78371;
}

button#add-book {
    background-color: #e4d1b8;
    box-shadow: 1px 1px 8px #51361266;
    border-radius: 10px;
    border: none;
    padding: 8px;
    font-size: 12pt;
    font-weight: bolder;
    color: #6f5128fe;
    letter-spacing: 1px;
    cursor: pointer;
}
button#add-book:hover {
    background-color: #ebd3b4;
}

/* CARDS */
div#list-books {
    background-color: #ebd3b4b7;
    margin-top: 10px;
    width: 300px;
    border-radius: 10px;
}

div#list-books div.card {
    background-color: #FFFFF3;
    padding: 10px;
    box-shadow: 1px 1px 10px #2f1c0343;
    border-radius: 5px;
    margin: 10px;
}

div#list-books h2 {
    font-size: 12pt;
}

div#list-books p {
    color: #453f3799;
    font-size: 10pt;
}

div#list-books .button-card {
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #0f0f0e43;
    padding: 4px;
    cursor: pointer;
}

div#list-books .finish {
    background-color: #c7f2cc5f;
    margin-right: 5px;
}
div#list-books .finish:hover {
    background-color: #83c28a5f;
}

div#list-books .remove {
    background-color: #f4d2d2;
}
div#list-books .remove:hover {
    background-color: #f3c5c5;
}